<!DOCTYPE html>
<html lang="en">
<head>
    <title>Predictionary Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="custom.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="../dist/predictionary.js"></script>
</head>
<body>
<div id="app">
    <h1>Predictionary Testpage</h1>
    <div class="row">
        <textarea id="textarea" class="six columns" :value="input" @input="update"
                  @keyup.enter="choose" @keyup.up="choosePrev" @keyup.down="chooseNext"></textarea>
    </div>

    <div>
        <span>Suggestions: </span>
        <div class="row" v-for="(suggestion, index) in suggestions">
            <button v-if="index === predictionIndex" @click="add(suggestion)" class="two columns chosen">{{suggestion}}</button>
            <button v-if="index !== predictionIndex" @click="add(suggestion)" class="two columns">{{suggestion}}</button>
        </div>
    </div>
</div>

<script>
    let predictionary = Predictionary.instance();
    $.get('words_de.txt').then(result => {
        predictionary.importWords(result, {
            elementSeparator: '\n',
            rankSeparator: ' ',
            wordPosition: 2,
            rankPosition: 0
        });
    });

    let vueApp = new Vue({
        el: '#app',
        data: {
            input: '',
            suggestions: [],
            predictionIndex: null
        },
        methods: {
            update: _.debounce(function (e) {
                this.suggestions = predictionary.predict(e.target.value, {maxPredicitons: 10});
                this.input = e.target.value;
            }, 300),
            add: function (suggestion) {
                this.input = predictionary.applyPrediction(this.input, suggestion);
                $('#textarea').focus();
                this.predictionIndex = null;
            },
            choose: function () {
                if (this.predictionIndex === null) {
                    return;
                }
                this.add(this.suggestions[this.predictionIndex]);
            },
            chooseNext: function (event) {
                let val = $('#textarea').val();
                $('#textarea').val("").val(val);
                if (this.predictionIndex === null) {
                    this.predictionIndex = 0;
                } else {
                    this.predictionIndex = (this.predictionIndex < this.suggestions.length - 1) ? this.predictionIndex + 1 : null;
                }
            },
            choosePrev: function (event) {
                let val = $('#textarea').val();
                $('#textarea').val("").val(val);
                if (this.predictionIndex === null) {
                    this.predictionIndex = this.suggestions.length - 1;
                } else {
                    this.predictionIndex = this.predictionIndex > 0 ? this.predictionIndex - 1 : null;
                }
            }
        }
    });
</script>
</body>
</html>
